<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
</head>
<body>
    <h1>Results</h1>
    <style>
        body {
            background-image: url('/Images/startupimage.png');
            background-size: auto;
            background-attachment: fixed;
        }
    </style>
    <h4>
        Startup is {{startup_pred}}
    </h4>
</body>
</html>